<a href="https://colab.research.google.com/github/4522Devp/Machine_leanring_fundamentals/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

programming language  used for machine language

1. Python
2. R


#print Function

In [ ]:
print("machine learning")
print('MACHINE LEARNING')

In [ ]:
print("machine learning " + "with Python")

print(8)

machine learning with Python
8

#constants & variables

In [ ]:
marvel = "ironman"
print(marvel)

ironman

In [ ]:
hero1,hero2,hero3 ="krish","singham","G-one"
print(hero1)
print(hero2)
print(hero3)

krish
singham
G-one

#input function

In [ ]:
num1 = int(input("enter the first number:"))
num2= int(input("enter the second number:"))

sum = num1 + num2
print("sum is :", sum)

enter the first number:2
enter the second number:3
sum is : 5

#Basic Data Types In Python:

1.integer
2.Floating point
3.complex
4.Boolean
5.string

In [ ]:
#integer
a = 8
print(a)
print(type(a))

8
<class 'int'>

In [ ]:
#folating values
b = 2.4
print(b)
print(type(b))

2.4
<class 'float'>

In [ ]:
# complex number

c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

#convertion data type

In [ ]:
# int to flaot

x = 10
print(x)
print(type(x))

y =  float(x)
print(type(y))
print(y)

10
<class 'int'>
<class 'float'>
10.0

In [ ]:
# float to integer
x = 5.9
print(type(x))
print(x)

y = int(x)
print(type(y))
print(y)

<class 'float'>
5.9
<class 'int'>
5

#boolean

 1. True
 2. False

In [ ]:
A = True
print(A)
print(type(A))

True
<class 'bool'>

In [ ]:
a = 7 < 3
print(a)

b = 7 > 3
print(b)

False
True

#Strings

In [ ]:
string = "Machine Learning"
print(type(string))

<class 'str'>

In [ ]:
print("hello "*4)

hello hello hello hello

In [ ]:
print(string[1:5])

achi

In [ ]:
print(string[-4:-1])

nin

In [ ]:
#steps

print(string[0:10:2])

McieL

In [ ]:
#string concadination

str1 = "machine "

str2 = "world"

print(str1 + str2)

machine world